*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

/*utility*/
.width-800{
  width: 800px;
}

.ctn-flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mr-2{
  margin: 2rem;
}
.ml-1{
  margin-top: 1rem;
  margin-left: 1rem;
}

.pointer{
  cursor: pointer;
}

.primary-color{
  color: #26a69a;
}

.secondary-color{
  color: #d12e19;
}

.tertiary-color{
  color: #69CD8F;
}

.quaternary-color{
  background-color: #95DE84;
}

.pd-2{
  padding-right: 2rem;
}

.pf-0{
  padding-left: 14px !important;
}

.teste{
  height: 100vh;
}

.title{
  border-bottom: 1px solid rgb(168, 168, 168);
  padding: 1rem;
  margin-top: 0 !important;
  text-align: center;
}

.addUser{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn-addUsers{
  background-color: lightblue;
  padding: 1rem;
  color: #fff;
  border: none;
  border-radius: 30px;
}


.ctn{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mr-left{
  margin-left: auto;
}

.position{
  position: relative !important;
}

.addUsers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-new{
  border: 1px solid rgba(34,36,38,.15) !important;
  border-radius: 10px !important;
  padding: 0.5rem !important;
  line-height: 1.1rem !important;
}

.label-new{
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-size: 0.9em;
  font-weight: 700;
  text-transform: none;
}



select{
  display: block !important;
}

.field{
  margin-bottom: 0.2em;
}

.ctn-flex{
  display: flex;
  flex-direction: column;
}