*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

/*utility*/
.mr-2{
  margin: 2rem;
}

.primary-color{
  color: #26a69a;
}

.secondary-color{
  color: #d12e19;
}

.tertiary-color{
  color: #69CD8F;
}

.quaternary-color{
  background-color: #95DE84;
}

.pd-2{
  padding-right: 2rem;
}

.pf-0{
  padding-left: 14px !important;
}

.title{
  border-bottom: 1px solid rgb(168, 168, 168);
  padding: 1rem;
  margin-top: 0 !important;
  text-align: center;
}

.addUser{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn-addUsers{
  background-color: lightblue;
  padding: 1rem;
  color: #fff;
  border: none;
  border-radius: 30px;
}


.ctn{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mr-left{
  margin-left: auto;
}

.position{
  position: relative !important;
}
